@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap");


html body {
  overflow: hidden;
  margin: 0px;
  height: 100%;
}

.red{
  color: #FF4F42;
}

.blue{
  color: #1820EF;
}

.backblue{
  background-color: #1820EF;
  width: 100%;
  height:100vh;
}

/* YourComponent.css */
.full-height-container {
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
  display: flex;
  justify-content: center;
  color: white;

}

.full-height-container h1{
  color: #FFF;
  text-align: center;
  font-family: "M PLUS 1";
  font-size: 71px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 5.325px;
  text-transform: uppercase;
}

.divabout{
  overflow: scroll;
  width: 1066px;
  height: 734px;
  padding-left: 40px;
}

.divabout h3{
  color: #FF4F42;
  font-family: "M PLUS 1";
  font-size: 71px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 5.325px;
  text-transform: uppercase;
}

.divabout p{
  color: #FFF;
  font-family: "Roboto";
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 151.688%;
  letter-spacing: 1.8px;
}

.vertical-center {
  text-align: center;
}



.landing-header{
  z-index: 5;
  position: absolute;
  background-image: url("./assets/svg/portfoliolanding.svg");
  width: 100%;
  height:100vh;
  background-size: cover;
}

.loading-header{
  z-index: 1;
  background-color: #FF4F42;
  width: 100%;
}

.home{
  width: 100%;
  height:100vh;
}

.right-side{
  background-color: #1820EF;
  width: 100%;
  height:100vh;
}

.right-side p {
  color: #FF4F42;
  text-align: right;
  font-family: "M PLUS 1";
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 169.3%;
  z-index: 4;

}

.right-side h1{

    color: #FFF;
    font-family: "M PLUS 1";
    font-size: 50px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 5.325px;
    text-transform: uppercase;

}

.left-side{
  background-image: url("./assets/img/me-bw.png");
  background-size: cover;
  width: 100%;
  height:100vh;
}



.banner{
  z-index: 5;
  width: 100%;
}

.polaroid{
  z-index: 2;
  position: absolute;
  bottom:111px;
  right: 400px;
  width: 300px;
}
/* NAVBAR */
.aA{
color: #FF4F42;
text-align: center;
font-family: "M PLUS 1";
font-size: 71px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 5.325px;
text-transform: uppercase;
}

.pA{
  color: #FFF;
text-align: center;
font-family: "M PLUS 1";
font-size: 71px;
font-style: normal;
font-weight: 200;
line-height: normal;
letter-spacing: 5.325px;
text-transform: uppercase;
}
.circlehome{
width: 305px;
height: 160px;
flex-shrink: 0;
border-radius: 0 0 12rem 12rem;
background: #FFF;
position: relative;
bottom: 20px;
border:none;

}
.hA{
  position: relative;
  top: 20px;
color: #1820EF;
text-align: center;
font-family: "M PLUS 1";
font-size: 71px;
font-style: normal;
font-weight: 200;
line-height: normal;
letter-spacing: 5.325px;
text-transform: uppercase;
}

.frame {
  overflow: scroll;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 66px 66px;
  height: 791px;
  justify-content: flex-end;
  padding: 0px 81px;
  width: 100%;
}

.frame .ellipse {
  background-color: #1820ef;
  border-radius: 266.5px;
  height: 533px;
  width: 533px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.frame .div {
  background-color: #1820ef;
  border-radius: 266.5px;
  height: 533px;
  margin-bottom: -341px;


  width: 533px;
}
