@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap");


html body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #1820EF;
}


.red{
  color: #FF4F42!important;
}

.blue{
  color: #1820EF;
}


.vertical-center {
  text-align: center;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


/* NAVBAR */
.aA{
color: #FF4F42;
text-align: center;
font-family: "M PLUS 1";
font-size: 71px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 5.325px;
text-transform: uppercase;
}

.pA{
  color: #FFF;
text-align: center;
font-family: "M PLUS 1";
font-size: 71px;
font-style: normal;
font-weight: 200;
line-height: normal;
letter-spacing: 5.325px;
text-transform: uppercase;
}

.pP{
  color: #FFF;
text-align: center;
font-family: "M PLUS 1";
font-size: 20px;
font-style: normal;
font-weight: 200;
line-height: normal;
letter-spacing: 5.325px;
text-transform: uppercase;
}

.circlehome{
width: 305px;
height: 160px;
flex-shrink: 0;
border-radius: 0 0 12rem 12rem;
background: #FFF;
position: relative;
bottom: 20px;
border:none;

}
.hA{
  position: relative;
  top: 20px;
color: #1820EF;
text-align: center;
font-family: "M PLUS 1";
font-size: 71px;
font-style: normal;
font-weight: 200;
line-height: normal;
letter-spacing: 5.325px;
text-transform: uppercase;
}

.slide-in{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background: #1820EF;
  transform-origin: bottom;
}

.slide-out{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background: #1820EF;
  transform-origin: top;
}
